body{
	background-color: beige;
	padding-bottom: 10px;
}
h1{
	margin-top: 5px;
	text-align: center;
}
h2{
	font-size: 1.5em;
	/*
	padding-left: 20px;
	*/
	margin-top: 5px;
	margin-bottom: 5px;
}
.left{
	padding-left: 20px;
}

ul{
	list-style-type: none;
	/*
	padding-left: 50px;
	*/
	padding-left: 30px;
}

.tooltip{
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.tooltip .tooltiptext{
	opacity: 0;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 2px 0;
	/* Position the tooltip */
	position: absolute;
	top: -2px;
	z-index: 1;
	left: 105%;
}
.tooltip:hover .tooltiptext{
	opacity: 0.35;
	transition: 1.5s;
}

.footer{
	
	border-top: solid 3px;
	background-color: beige;
	height: 40px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}
.footer p{
	padding-left: 0;
	margin: 0;
}
.footer a:hover{
	color: white;
	background-color: black;
}

li ul{
	list-style-type: circle;
}